// COLORS

$general-blue: #10367C;
$accent-yellow: #F5BD41;
$accent-blue: #3077C6;
$dark-mode1: #121212;
$dark-mode2: #1D1E1F;
$dark-mode3: #4D4D4D;
$stroke-color: #F3F3F4;
$text-color: #383838;
$general-white: #FFFFFF;
$secondary-text: #BFBFBF;
$bg-color: #EAF0F9;


// FONT-SIZES

$xs-font: 12px;
$sm-font: 14px;
$md-font: 16px;
$lg-font: 18px;
$xl-font: 20px;
$xxl-font: 24px;
$xxxl-font: 40px;
$xxxxl-font: 50px;

// FONT-WHEIGHTS

$regular: 400;
$medium: 500;
